# build output
dist/
lib/

# generated types
.astro/
*.d.ts

# dependencies
node_modules/

# logs
npm-debug.log*
*.log

# macOS-specific files
.DS_Store

# VSCode-specific files
.vscode/

# test coverage
coverage/

# environment files
.env*
*.local

# npm pack files
*.tgz
