* {
	box-sizing: border-box;
}

html, body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 1080px;
	height: 100%
}

html.no-touch {
	width: auto;
	height: auto;
}

html.no-touch body {
	display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
	height: auto;
}

html.no-touch .demo {
	display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 0 1 33.33%;
  -ms-flex: 0 1 33.33%;
  flex: 0 1 33.33%;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  width: 33.33%;
  padding: 20px;
}

html.no-touch .app {
	width: 320px;
	height: 568.89px;
}

html.no-touch .info {
	display: inline;
}

html.no-touch .top {
	height: 61.8%;
}

html.no-touch .bottom {
	height: 38.2%;
}

.demo {
	height: 100%;
}

.info {
	display: none;
  -webkit-flex: 0 1 66.67%;
  -ms-flex: 0 1 66.67%;
  flex: 0 1 66.67%;
  width: 66.67%;
  margin-left: 33.33%;


  border-left: 4px solid #ffe70b;
}