@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
	--color-primary: #ffe70b;
	--color-primary-400: #fff066;
	--color-primary-500: #ffe70b;
	--color-primary-600: #e0cc00;
	--color-secondary: #1f2937;
	--color-secondary-400: #374151;
	--color-secondary-500: #1f2937;
	--color-secondary-600: #171f27;
}
