.app {
	width: 100%;
	height: 100%
}

.wrap {
	height: 100%;
}

.top {
	height: 61.8vh;
	width: 100%;
}

.top .top {
	display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 61.8%;
}

.bottom {
	height: 38.2vh;
	width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.bottom .bottom {
	height: 38.2%;
}

.w3-button {
	width: 100%;
	height: 100%;
}
