---
/**
 * items: Array<{ label: string, url?: string }>
 * Example usage:
 * <Breadcrumb items={[
 *   { label: "Country", url: "/country" },
 *   { label: "France" }
 * ]} />
 */
// biome-ignore lint/correctness/noUnusedVariables: Astro props are used in the template
const { items = [] } = Astro.props;
---
<nav class="max-w-screen-lg pb-6" aria-label="Breadcrumb">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="flex flex-wrap gap-2 text-sm">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="/" itemprop="item" class="hover:underline focus-visible:underline text-primary-500">
        <span itemprop="name">Home</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    {items.map((item: { label: string; url?: string }, idx: number) => (
      <>
        <li class="flex items-center" aria-hidden="true">›</li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          {item.url ? (
            <a href={item.url} itemprop="item" class="hover:underline focus-visible:underline text-primary-500">
              <span itemprop="name">{item.label}</span>
            </a>
          ) : (
            <span itemprop="name" class="font-semibold">{item.label}</span>
          )}
          <meta itemprop="position" content={`${idx + 2}`} />
        </li>
      </>
    ))}
  </ol>
</nav>
