<section class="max-w-content mx-auto p-0 border-0 rounded-none shadow-none my-8 sm:p-6 sm:bg-black sm:text-white sm:shadow-sm sm:rounded-lg sm:border-2 sm:border-primary">
  <div class="prose prose-invert prose-h1:text-primary prose-a:text-primary prose-a:hover:no-underline prose-blockquote:border-primary prose-code:bg-secondary prose-pre:bg-secondary prose-li:marker:text-primary">
    <slot />
  </div>
</section>
