---
import "../styles/global.css";
// biome-ignore lint/correctness/noUnusedImports: Used in Astro template
import Sidebar from "../components/Sidebar.astro";

// biome-ignore lint/correctness/noUnusedVariables: Astro props are used in the template
const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<meta name="generator" content={Astro.generator} />
    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords} />}
    <meta name="theme-color" content="#000000" />
    <meta name="author" content="David Landry" />
    <title>{title}</title>
	</head>
	<body class="font-sans antialiased bg-black">
    <header class="w-full flex items-center justify-end p-3 py-4 sticky top-0 z-50 bg-black">
      <div class="flex flex-col w-full md:max-w-[612px] mx-auto">
        <a href="/" class="flex items-center text-2xl font-bold tracking-tight mx-auto">
          <img src="/images/favicon.png" alt="RPlayer Logo" class="w-10 h-10 mr-2 md:w-12 md:h-12" />
          <span class="text-white">R</span><span class="text-primary">Player</span>
        </a>
      </div>
    </header>
    <div class="max-w-screen-lg mx-auto px-6 md:p-0 flex flex-col md:flex-row w-full">
      <Sidebar
        currentPage={'home'}
        class="mt-0 md:sticky md:top-24"
      />
      <main class="flex flex-col w-full md:max-w-[612px] mx-auto">
        <slot />
      </main>
    </div>
    <footer class="max-w-screen-lg mx-auto p-6 mt-6">
      <div class="pt-6 text-center flex flex-col sm:flex-row sm:justify-between sm:items-center gap-2">
        <div class="text-white">
          <span class="text-gray-200">© {new Date().getFullYear()} R<span class="text-primary">Player</span></span> &nbsp;|&nbsp; Thanks <a href="https://js.org/" target="_blank" rel="noopener noreferrer" class="underline hover:text-primary">js.org</a>
        </div>
        <div class="flex flex-col sm:flex-row gap-2 sm:gap-4 items-center justify-center text-white">
          <ul class="flex flex-row gap-2 sm:gap-4 items-center justify-center list-none p-0 m-0">
            <li>
              <a href="/privacy" class="text-primary hover:underline text-sm">Privacy Policy</a>
            </li>
            <li aria-hidden="true" class="text-gray-400">|</li>
            <li>
              <a href="/contact" class="text-primary hover:underline text-sm flex items-center gap-2">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
